<!--navigation swipe-->
<!--add-->
<div class="add_place none" id="pl">
    <div class="place_form">
        <i class="fa fa-times close_window" id="close"></i>
        <h3>Add new place<span></span></h3>
        <form>
            <label>Place name:
                <input type="text">
            </label>
            <label>latitude:
                <input type="text">
            </label>
            <label>longitude:
                <input type="text">
            </label>
            <label>Category:
                <select>
                    <option value="Soccer">Game</option>
                </select>
            </label>
            <a href="#" class="green_btn_header" id="add">Add</a>
        </form>
    </div>
</div>
<!--autorization-->
<div class="add_place none" id="autorized">
    <div class="place_form login_form">
        <i class="fa fa-times close_window" id="closeau"></i>
        <h3>Authorization<span></span></h3>
        <form>
            <label>Login:
                <input type="text">
            </label>
            <label>Password:
                <input type="text">
            </label>
            <a href="#" class="btn btn-success">Log in</a>
            <a href="#" class="btn btn-primary"><i class="icon-facebook"></i>Log in with Facebook</a>
        </form>
    </div>
</div>
<!-- Site Overlay -->
<div class="site-overlay"></div>
<div id="container">
    <!--Header-->
    <div class="container-fluid header inner_head">
        <div class="fixed_w">
            <div class="row">
                <form geocompleteform class="col-md-12">
                    <a href="#signup" class="logo"><img src="http://s22.postimg.org/lb3n957hp/Handled.png" alt="" /></a>
                    <!-- <input geocomplete type="text" class="search" placeholder="search"></a> -->
    <div class="mymenu">
      <span class="logo"></span>
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link"></a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#features" class="pure-menu-link"></a>
                </li>
                <li class="pure-menu-item"><a href="#Sign Up" class="pure-menu-link">SIGN UP</a>
                </li>
                <li class="pure-menu-item"><a href="#Serivce Area" class="pure-menu-link">SERVICE AREA</a>
                </li>
                 <li class="pure-menu-item"><a href="#Verification" class="pure-menu-link">VERIFICATION</a>
                </li>
            </ul>
        </div>
    </div>
                </form>
            </div>
        </div>
    </div>
    <!--categori menu-->
    <div class="start_descrition wow bounceInDown animated">
    <h2>Define Your Service Area</h2></div>
                <div class="start_textbox fea_item wow bounceInUp animated" style="visibility: visible;">
                 <h2>Handled in Houston</h2>
    <p>Get matched with clients who receive tickets within <br/> a 25, 50, 75, or 100 mile radius of the Houston area.<br/> You can always change your settings later.</p> </div>

    <div class="container-fluid menu mobile">
        <div class="row">
            <div class="col-md-12 wow bounceInLeft">
                <span>Category menu</span>
                <i class="fa fa-times" id="close_menu" id=“progress_circles"></i>
                <ul>
                    <li><a href="javascript:toggleMarkers('25 Miles');" class="showplace"><i class="fa fa-circle-thin "></i></a></li>
                    <li><a href="javascript:toggleMarkers('50 Miles');" class="showplace"><i class="fa fa-circle "></i></a></li>
                    <li><a href="javascript:toggleMarkers('75 Miles');" class="showplace"><i class="fa fa-circle "></i></a></li>
                    <li><a href="javascript:toggleMarkers('100 Miles');" class="sport"><i class="fa fa-circle "></i></a></li>
                    <li class="mobile_menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--map-->
<div id="street"></div>
<div id="map" class="map"></div>
