<!--navigation swipe-->

<!-- Site Overlay -->
<div class="site-overlay"></div>
<div id="container">
    <!--Header-->
    <div class="container-fluid header inner_head">
        <div class="fixed_w">
            <div class="row">
                <form geocompleteform class="col-md-12">
                    <a href="#home" class="logo"><img src="http://s22.postimg.org/lb3n957hp/Handled.png" alt="" />
    <div class="menu">
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link"></a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#features" class="pure-menu-link"></a>
                </li>
                <li class="pure-menu-item"><a href="#Sign Up" class="pure-menu-link">SIGN UP</a>
                </li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">SERVICE AREA</a>
                </li>
                 <li class="pure-menu-item"><a href="#" class="pure-menu-link">VERIFICATION</a>
                </li>
            </ul>
        </div>
    </div>
                </form>
            </div>
        </div>
    </div>
    <!--category menu-->
    <div class="start_descrition wow bounceInDown animated">
        <h2>Define Your Service Area</h2></div>
             <div class="start_textbox fea_item wow bounceInUp animated" style="visibility: visible;">
                 <h2>Handled in Houston</h2>
                    <p>Get matched with clients who receive tickets within <br/> a 25, 50, 75, or 100 mile radius of the Houston area.<br/> You can always change your settings later.</p></a>
                    <input geocomplete type="text" class="search" placeholder="Your Location Here"></a>
    </div>
    </div>
    <!--Mileage menu-->
    <div class="container-fluid menu mobile">
        <div class="row">
            <div class="col-md-12 wow bounceInLeft">
                <span>Category menu</span>

                <i class="fa fa-times" id="close_menu" id=“progress_circles"></i>
                <ul>
                    <li><a href="javascript:toggleMarkers('25 Miles');" class="showplace"><i class="fa fa-circle-thin "></i></a></li>
                    <li><a href="javascript:toggleMarkers('50 Miles');" class="showplace"><i class="fa fa-circle "></i></a></li>
                    <li><a href="javascript:toggleMarkers('75 Miles');" class="showplace"><i class="fa fa-circle "></i></a></li>
                    <li><a href="javascript:toggleMarkers('100 Miles');" class="showplace"><i class="fa fa-circle "></i></a></li>
                    <li><a href="javascript:toggleMarkers('Next');" class="sport"><i class="fa fa-arrow-right "></i></a></li>
                    <li class="mobile_menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

<!--map-->
<div id="street"></div>
<div id="map" class="map"></div>
